body{
    height:100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.box{
    display:flex;
    background-color:black;
    height:100%;
    align-items:center;
    
}